<!doctype html>
<html>
    <head>
        <title>Squirrel Sightings Homepage</title>
    </head>

    <body>
	<h1>JJ and Fabio's Squirrel Tracker </h1>
        <ul>
		<li>
		<a href='/sightings/add/'> Add a new sighting </a>
		</li>

		<li>
                <a href='/sightings/stats/'> Check out our squirrel stats </a>
                </li>
	</ul>

        <h3>All Squirrel Sightings </h3>
                <ul>
                    {%for Squirrel in sightings%}
                        <li>ID: {{Squirrel}} Date: {{Squirrel.Date}}
			<br>
			<a href='/sightings/{{Squirrel.Unique_Squirrel_ID}}/'> Update this sighting </a>
			<br>
			<a href='/sightings/{{Squirrel.Unique_Squirrel_ID}}/details'> More details  </a>
			</li>
		    {%endfor%}
                </ul>
    </body>
</html>
