<!DOCTYPE html>
<html>
<head>
        <title> 5 Stats for the Squirrel Sightings </title>
</head>
<body>	
  <h1> Awesome Squirrel Statistics </h1>
  <ul>
        <li>The total amount of sightings of squirrels is {{s1}}</li>
        <li>The amount of squirrels seen in the morning is {{s2}}</li>
        <li>The amount of gray furred squirrels is {{s3}}</li>
		<li>The amount of squirrels that were eating is {{s4}}</li>
        <li>The amount of juvenile squirrels is {{s5}}</li>
  </ul>
</body>
</html>
